    .blok_astrology_school_top {
        background: url(/img/background/background6.jpg);
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        }
    .astrology_school_blok_position {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .hh2_astrology_school_text {
        font-size: 40px;
        font-family: "Josefin Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        color: #4f4949;
        line-height: 1.3;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 25px;
    }

    .hhrr_line_size {
        width: 60px;
        height: 4px;
        border: none;
        color: #2ab6ff;
        background: #2ab6ff;
        margin-top: 15px;   
    }

    @media only screen and (min-width:320px) and (max-width:601px) {
        .hh2_astrology_school_text {
            font-size: 34px;
        }
    } 

    @media only screen and (min-width:601px) and (max-width:991px) {
        .hh2_astrology_school_text {
            font-size: 37px;
        }
    } 


    .astrology_school_elements_position {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 30px;
    }

    @media only screen and (min-width:320px)  {
        .astrology_school_elements_position {
            display: flex;
            flex-wrap: wrap;
        }
    } 

    .astrology_school_elements_color {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .foto_size_position_astrology {
        margin: 40px 30px 30px 30px;
        width: 310px;
        height: 450px;
        border-radius: 10px;
        object-fit: cover;
        object-position: 50% 50%;
        z-index: 0;
        position: relative;
    }

    @media only screen and (min-width:320px) and (max-width:601px) {
        .foto_size_position_astrology {
            width: 250px;
            height: 390px;
        }
    } 

    @media only screen and (min-width:601px) and (max-width:991px) {
        .foto_size_position_astrology {
            width: 270px;
            height: 430px;
        }
    } 

    .hh3_astrology_school {
        font-size: 22px;
        font-family: "Josefin Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        color: #fff;
        line-height: 1.32;
        text-align: center;

        background-color: #4f4949;
        margin-top: -70px;
        position: absolute;
        z-index: 1;
        width: 270px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .hh3_astrology_school_dark_text {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }


    .buttom_asctrology_school button[type="submit"] {
        display: inline-block;
        font-size: 16px;
        background: #2ab6ff;
        color: #ffffff;
        border: 1px solid transparent;
        cursor: pointer;
        transition: background 0.25s, color 0.25s;

        margin-top: 10px;
        margin-bottom: 40px;
      }
      
      .buttom_asctrology_school button[type="submit"]:hover {
        color: #fff;
        background: #322c2c;
      }
    
      .button__asctrology_school_container { 
        width: 120px;
        height: 45px;
        border: none;
        background-color: #2ab6ff;
        text-align: center;
        text-decoration: none;  
        color: #322c2c;
       
        font-family: "Josefin Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        border-radius: 5px;
        border-width: 5px;
      }
    
