    .blok_astrology_school_top {
        background: url(/img/background/background6.jpg);
        background-size: cover;
        background-position: center;
        display: flex;
        margin: 0;
        padding: 0;
        flex-direction: column;
        overflow-x: hidden;
        }
    .astrology_school_blok_position {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .hh2_astrology_school_text {
        font-size: 40px;
        font-family: "Josefin Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        color: #4f4949;
        line-height: 1.3;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }

    .hhrr_line_size {
        width: 60px;
        height: 4px;
        border: none;
        color: #2ab6ff;
        background: #2ab6ff;
        margin-top: 15px;   
    }


.astrology_school_elements_position {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

    .astrology_school_elements_color {
        background-color: #fff;
        width: 270px;
        border-radius: 10px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.09);
        
    }

