.blok_contact_form_one_top {
    background: url(/img/background/background5.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    overflow-x: hidden;
    }

    .contact_form_blok_one_position {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .title_text_hh2_line {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .hh2_text_elements_position {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .hh2_contact_form_text {
        font-size: 40px;
        font-family: "Josefin Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        color: #fff;
        line-height: 1.3;
    }

    .hh2_contact_form_text_type {
        font-size: 40px;
        font-family: "Josefin Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        color: #2ab6ff;
        line-height: 1.3;
    }
    
    .hhrr_line_size {
        width: 60px;
        height: 4px;
        border: none;
        color: #fff;
        background: #fff;  
        margin-top: 15px;
        margin-bottom: 25px;
    }

    .pp_contact_form_one {
        font-size: 18px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: #d8d8d8;
        line-height: 1.39; 
    }








    .figura_position_petSit_all {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }
    
 
    
    .figura_position_petSit {
        width: 456px;
        height: 45px;
        background-color: rgba(88, 88, 88, 0.12);
        border-style: solid;
        border-color: rgba(88, 88, 88, 0.001);
        border-radius: 5px;
    
        font-size: 15px;
        line-height: 1.7;
        font-weight: 400;
        font-family: 'Lato',sans-serif;
        color: #b2b2b2;
        padding: 13px 18px;
    }
    

    
    .figura_position_petSit:focus{
        border-color: rgb(81, 149, 228);}
    
        
    .text_posotion_ChoseFile {
        display: flex;
        flex-direction: row;
        gap: 10px;
     }
    
    .img_position_petSitWanted {
        width: 18px;
        height: 18px;
    }
    
     .position_container_img_PetSit {
        display: flex;
        flex-direction: column;
        padding-top: 25px;
        padding-left: 59px;
        gap: 10px;
     }
    
  
    
    
    .hh3_text_colories_ChoseFile {
        font-size: 16px;
        line-height: 1.7;
        font-family: 'Lato',sans-serif;
        font-weight: 400;
        color: #585858;
        cursor: pointer;
    }
    
    
        /* CSS для оформлення контактної форми */
       
    
        .form-group {
            margin-bottom: 1px;
        }
    
    
        .form-group input[type="text"],
        .form-group input[type="email"] {
           
            padding: 8px;
            border-radius: 5px;
        }
    
        .attach-file {
            display: inline-block;
            background-color: #007bff;
            color: #fff;
            padding: 8px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    
        .files-list {
            margin-top: 10px;
        }
    
        .files-list li {
            margin-bottom: 5px;
        }
    
        .delete-file {
            color: red;
            cursor: pointer;
            margin-left: 5px;
        }
    
        .find-me {
        display: inline-block;
        font-size: 15px;
        background: #65c178;
        color: #ffffff;
        border: 1px solid transparent;
        border-radius: 5px;
        cursor: pointer;
        padding: 9px 170px;
        transition: background 0.25s, color 0.25s;
        }
    
    
         
      .find-me:hover {
        color: #ffffff;
        background: #585858;
      }
    
     
      @media only screen and (min-width:320px) and (max-width:601px) {
        .find-me  {
            padding: 9px 70px;
        }
    }
    
    @media only screen and (min-width:601px) and (max-width:991px) {
        .find-me  {
            padding: 9px 120px;
        }
    }
    
     