.blok_horoscope_top {
    background: url(/img/background/background4.png);
    background-size: cover;
    background-position: center;
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    overflow-x: hidden;
    }


    .monthly_horoscope_position {
        margin-top: 40px;
        margin-bottom: 100px;
    }

    .hh2_monthly_horoscope_text {
        font-size: 40px;
        font-family: "Josefin Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        color: #4f4949;
        line-height: 1.3;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }
    
    .hhrr_line_size {
        width: 60px;
        height: 4px;
        border: none;
        color: #2ab6ff;
        background: #2ab6ff;
        margin-top: 15px;   
    }

.monthly_horoscope_white_position {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 49px;
    margin-right: 49px;
    gap: 30px;  
}

@media only screen and (min-width:1250px) and (max-width:2500px) {
    .monthly_horoscope_white_position {
        margin-left: 275px;
        margin-right: 275px;
    }
}
 
.monthly_horoscope_white_elements {
    width: 270px;
    height: 235px;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}


    .astrology_elements_position {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-top: 30px;

    }

    .logo_monthly_horoscope {
        background: url(/img/fon_blok4.webp);
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
        width: 100px;
        height: 100px; 
    }

    .hh3_monthly_horoscope_text {
        font-size: 30px;
        font-family: "Josefin Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        color: #4f4949;
        line-height: 1.33;
    }

    .color_elements {
        color: #fff;
        width: 55%;
        display: flex;
        flex-direction: row;
        align-items: center;    
    }