    .blok_join_me_insta_top {
        background: url(/img/background/background10.jpg);
        background-size: cover;
        background-position: center;
        display: flex;
        margin: 0;
        padding: 0;
        flex-direction: column;
        overflow-x: hidden;
        }


    .blok_join_me_insta_position {
        margin-top: 90px;
        margin-bottom: 50px;
    }

    .hh2_join_me_insta_text {
        font-size: 40px;
        font-family: "Josefin Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        color: #4f4949;
        line-height: 1.3;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }
    
    .hhrr_line_size {
        width: 60px;
        height: 4px;
        border: none;
        color: #2ab6ff;
        background: #2ab6ff;
        margin-top: 15px;   
    }


    .foto_join_me_insta_position {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 30px;
    }
    
    @media only screen and (min-width:320px) and (max-width:477px)  {
        .foto_join_me_insta_position {
            display: flex;
            flex-wrap: wrap;
        }
    }

    .foto_join_me_insta {
        width: 365px;
        height: 295px;
        border-radius: 7px;

        object-fit: cover;
        object-position: 50% 50%;
        z-index: 0;
        position: relative;
    }
