.blok_time_days_top {
    background-image: linear-gradient(rgba(50, 44, 44, 0.99) 0%, rgba(49, 29, 94, .85) 50%), url(/img/background/background7.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    
    
    }

.time_days_blok_position {
    margin-top: 90px;
    margin-bottom: 100px;
}

/* box-shadow: inset 0 0 0 200px rgba(50, 44, 44, 0.99);*/

.time_days_text_positions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hh2_time_days_text {
    font-size: 40px;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: #fff;
    line-height: 1.3;

    display: flex;
    flex-direction: column;
    align-items: center;
     
}

.hhrr_line_size {
    width: 60px;
    height: 4px;
    border: none;
    color: #fff;
    background: #fff;
    margin-top: 15px;   
}

.pp_time_days_text {
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #d8d8d8;
    line-height: 1.39;
     
}















.time-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin-top: 100px;
}

.time-content .time {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .time .number,
  .time .text {
    font-weight: 500;
    color: #fff;
  }
  .time .number {
    font-size: 48px;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: #fff;
    line-height: 1.3;
  }
  .time .text {
    text-transform: capitalize;

    font-size: 26px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #d8d8d8;
    line-height: 1.39;
  }


